@media (max-width:700px){
  #logotipo{
    margin-right: -400px;
  }
  .titulo{
    margin-left: -500px;
  }
}


body{
    background-image: linear-gradient(to top,black, purple);
    background-attachment: fixed;
}

header{
 
   background-color: black;
    display: flex;
    justify-content: space-between;
    height: 150px;
   
    
    

    

}



.titulo{
background-image: url(gifs.gif);
background-clip: text;
background-position: -215px -20px;
filter: drop-shadow(20px 20px 20px purple);
  color: transparent;
  font-size: 65px;
  margin-left: 70px;
  margin-top: -70px;
  font-family: fantasy;
  letter-spacing: 10px;
  letter-spacing: 10px;



    

}



#lista{
    display: flex;
    font-family: fantasy;
    list-style: none;
    margin-top: 30px;
  }
  







li:hover{
  box-shadow: 2px 2px 2px 2px white;
  color: black;
  background-color: purple;
  transform: scale(1.2);
}

li{
    margin: 20px;
    background-color: purple;
    color:black;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: 2px solid purple;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 20px;
    transition: all 0.5s linear;
    
    
}

#pesquisa{

    position: absolute;
    margin-top: 40px;
  margin-left: 200px;
    width: 50px;
    height: 2px;
}



 input{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(218, 213, 213);
    width: 700%;
    height: 50px;
    margin-left: 600px;
    margin-bottom:-30px;
 }

 #logotipo{
  position: relative;
height: 105px;
width: 95px;
margin-left: -300px;

margin-top: 15px;

animation:logo 0.2s infinite ;
cursor: pointer;

 }



 @keyframes logo{
  0%{
    transform: translatex(2px);
  }

  25%{
    transform: translatey(-2px);
  }
  50%{
    transform: translatex(-2px);
  }
  75%{
    transform: translatey(2px);
  }

  100%{
    transform: translatex(1px);
  }
  
 }
 



 
 main{
   background-image: url(espaço.jpg);
   background-attachment: fixed;
   height: 750px;
    display: flex;
    justify-content: center;
    
 }

.scroll{
  
    display: flex;
    margin-top: 40px;
    width: 1000px;
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 30px;
    border: 2px solid purple;
   
   
}



  img{
   
    width: 1000px;
    height: 600px;
    

  }

  #segunda{
    animation: carrossel 15s ease-in-out infinite;
    animation-delay: 1s;
    
  }



  @keyframes carrossel{

    0%{
        margin-left: 0px;
        
        
    }

    25%{
        margin-left: -2000px;
    }

    50%{
     margin-left: -4000px;
    }

    75%{
   margin-left: -2000px;
      
    }

    100%{
      
        animation-delay: 2s;

    }

  }

  footer{
    height: 250px;
  }

  section{
    background-image: url(estrelas.jpg);
    background-attachment: fixed;
    border: 2px solid purple;
    height: 1700px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    

   
  }

  

  

  #jogos{
    background-image: url(gitmoto.gif);
    background-position: -500px 130px; 
    position:absolute;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 50px;
    margin-top: 50px;
    border: 2px solid purple;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

#texto{
  background-color: black;

  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  margin-top: 1600px;
  font-size: 35px;
  text-align: center;
  height: 320px;
  animation: borde 3s infinite;
}


@keyframes border{
  0%{
    transform: scale(0px);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(0px);
  }
}

  #display{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    background-color: black;
    
    height: 500px;
    width: 350px;
    transition: all 0.2s ease-in-out;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
   margin: 50px;
   margin-top: 200px;

    
  }



  #display:hover{
    transform: scale(1.1);

  }

  #logogta{
    width: 300px;
    height: 350px;
    margin-top: 10px;
  }

  #logobatman{
    width: 300px;
    height: 350px;
    margin-top: 10px;
  }

  #logonight{
    width: 300px;
    height: 350px;
    margin-top: 10px;
  }
  
  p{
    position: absolute;
    margin-top: 400px;
  }

  .display2{
    background-color: black;
   
    justify-content:c;
    position:absolute;
    margin-top: 900px;
    width: 250px;
    height: 200px;
    font-size: 60px;
    align-items: center;
    border: 2px solid purple;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }

  .section2{
    height: 1000px;
  }


  #livro{
    
    position: absolute;
    margin-top: -180px;
    margin-left: 600px;
    font-size: 40px;
    color: blueviolet;
    background-color: black;
    background-image: url(gif2.gif);
    background-position: -20px;
    width: 400px;
    text-align: center;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 2px solid purple;
  }

 .books{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-left: 150px;
  height: 100px;
  gap: 40px;
  
  

 }

 #display3{
  background-color: purple;
  height: 700px;
  transition: all 0.2s linear;
 }

 #autor{
  position: relative;
  background-color: black;
  margin-top: -60px;
  color: white;
  text-align: center;
  font-size: 50px;

 }

 #titulo{
  position: absolute;
  margin-left: 60px;
  text-align: center;
  color: pink;
  font-size: 30px;

 
 }
 #campo{
  position: absolute;
  margin-left: 10px;
  font-size: 25px;
  color: pink;
 }
 
#robo{
  position: absolute;
  margin-left: 150px;
  font-size: 25px;
  color: pink;
}
#shinko{
  position: absolute;
  margin-left: 120px;
  font-size: 25px;
  color: pink;
}

 #book{
  width: 350px;
  height: 500px;
  margin: 5px;

  
  border: 2px solid white;
  

 }
  
 #display3:hover{
  transform: scale(1.05);
  
  box-shadow: -15px -15px 15px  purple;
 }

 #altura{
  height: 300px;
 }


 .loading2{
display: flex;
justify-content: center;
transition: all 1s ;
 }


 

 #load1{
  background-color: red;
  display: flex;
  flex-direction: row;
border-radius: 100%;
 width: 100px;
 height: 100px;
  margin: 10px;
  animation: load2 3.5s ease-out infinite;
  animation-delay: 0.1s;

  margin: 30px;

 }
 #whats{
  width: 100px;
  height: 100px;
  border-radius: 100%;

 }

 #load2{
  background-color: green;
  display: flex;
  flex-direction: row;
border-radius: 100%;
 width: 100px;
 height: 100px;
  margin: 10px;
  animation: load2 3.5s ease infinite;
  animation-delay: 0.2s;

  margin: 30px;

 }

 #git{
  width: 100px;
  height: 100px;
  border-radius: 100%;
 }

 #load3{
  background-color: yellow;
  display: flex;
  flex-direction: row;
border-radius: 100%;
 width: 100px;
 height: 100px;
  margin: 10px;
  animation: load2 3.5s ease-in infinite;

 animation-delay: 0.3s;
  margin: 30px;


 }

 @keyframes load2{
  0%{
transform: scale(1.1);

  }
  25%{
    transform: scale(0.7);
  }
  50%{
transform: scale(1.1);

  }
  75%{
    transform: scale(0.7);
  }
  100%{
    transform: scale(1.1);
    
  }

 }

 #teste{
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  transition: all 1s linear;
 }

 #teste:hover{
  background-color: white;
 }

 


 


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap')




  

